@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif;
  }

  body {
    background-color: rgb(241, 245, 241);
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm bg-[#2B85FF] text-white p-2 rounded my-1 hover:bg-blue-700;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-[#2B85FF];
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

   .note-content::-webkit-scrollbar {
    width: 8px;
  }

  .note-content::-webkit-scrollbar-track {
    background: transparent;
  }

  .note-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .scroll-shadow-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    z-index: 10;
    border-radius: 4px 4px 0 0;
    pointer-events: none;
  }

  .scroll-shadow-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    z-index: 10;
    border-radius: 0 0 4px 4px;
    pointer-events: none;
  }
}